<form role="form">
  <div class="form-group">
    <label for="location">Location</label>
    <input type="location" class="form-control" id="location" ng-model="config.location" placeholder="Enter location">

    <label for="center">Center</label>
    <input type="number" class="form-control" id="center" ng-model="config.center.lat" placeholder="Latitude">
    <input type="number" class="form-control" id="center" ng-model="config.center.lon" placeholder="Longitude">

    <label for="zoom">Zoom</label>
    <input type="number" class="form-control" id="zoom" ng-model="config.zoom" placeholder="Zoom">
    

  </div>
</form>